.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}

.App img {
    width: 100%;
    max-width: 150px;
    height: auto;
}
